
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="/">FlaskCRUD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/articles">Articles</a>
              </li>
          </ul>



          <ul class="navbar-nav navbar-right">
            <li class="nav-item active">
              {% if session.logged_in %}
                <li><a class="nav-link" href="/dashboard">Dashboard</a></li>
                <li><a class="nav-link" href="/logout">Logout</a></li>
              {% else %}
                <li><a class="nav-link" href="/register">Register</a></li>
                <li><a class="nav-link" href="/login">Login</a></li>
              {% endif %}
            </li>
          </ul>
        </div>
      </nav>