{% extends 'layout.html' %}

{% block body %}
<h1>About us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque provident rerum recusandae fuga earum, debitis odio expedita accusamus nihil voluptate ducimus. Corrupti nisi modi eligendi quo officiis? Obcaecati, adipisci vitae.</p>
{% endblock %}