{% extends 'layout.html' %}

{% block body %}
<h1>Dashboard <small> Welcome {{session.username}}</small></h1>
<a class="btn btn-success" href="/add_article"> Add Article</a>
<hr>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th></th>
        <th></th>
    </tr>
    {% for article in articles %}
        <tr>
            <th>{{article.id}}</th>
            <th>{{article.title}}</th>
            <th>{{article.author}}</th>
            <th>{{article.created_date}}</th>
            <th><a href="edit_article/{{article.id}}" class="btn btn-dark pull-right">EDIT</a></th>
            <td>
                <form action="{{url_for('delete_article', id=article.id)}}" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="submit" value="Delete" class="btn btn-danger">
                </form>
              </td>

        </tr>
    {% endfor %}
</table>
{% endblock %}