{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <div class="container">
      <h1>Welcome to FlaskCRUD</h1>
      <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod pariatur ab soluta nemo sed, esse placeat doloremque est necessitatibus accusamus quo! Possimus nam quas voluptas. Perspiciatis mollitia vero inventore! Ad!</p>
      {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-dark btn-lg">Register</a>
      <a href="/login" class="btn btn-dark btn-lg">Login</a>
      {% endif %}
    </div>
  </div>
{% endblock %}